.tours-package-images {
  max-width: $content-width;
  min-height: 304px;
  // background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 100px;

  .japan-image-one {
    @include japan-image-one();
  }

  .japan-image-two {
    @include japan-image-two();
  }

  .japan-image-three {
    @include japan-image-three();
  }
}

@media screen and (max-width: 800px) {
  .tours-package-images {
    width: 300px;
    flex-direction: column;
    min-height: 940px;
    margin-left: 200px;
    // background-color: red;

    .japan-image-one {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .japan-image-two {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .japan-image-three {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
