.footEnd {
  min-height: 60px;
  max-width: 100%;
  background-color: #79addc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;

  .footLogo {
    display: flex;
    margin-left: 170px;
  }

  .copyRight {
    min-height: 100%;
    display: flex;
    align-items: center;
    color: white;
    //padding-right: 10px;
  }

  .coLogos {
    display: flex;
    align-items: right;
    margin-right: 170px;
  }
}

@media screen and (max-width: 800px) {
  .footEnd {
    float: none;
    width: 100%;
    //flex-direction: column;
    flex: 50%;

    .copyRight {
      margin-left: 20px;
    }
  }
}
