.about {
  max-width: $content-width;
  margin-top: 110px;
  margin-bottom: 180px;

  .about-header {
    h1 {
      margin-bottom: 5px;
      font-family: "Gill Sans";
    }
    hr {
      width: 100px;
      border: 1px solid;
      margin-bottom: 36px;
    }
    p {
      font-family: "Gill Sans";
    }
  }

  .about-client-quotes {
    margin-top: 107px;

    .client-quote-title {
      font-size: 40px;
      font-family: "Gill Sans";
    }

    hr {
      width: 240px;
      border: 1px solid;
      margin-bottom: 36px;
    }

    .client-box {
      max-width: 722px;
      display: flex;
      position: relative;
      margin-bottom: 37px;

      .client-image {
        width: 260px;
        height: 150px;
        overflow: hidden;
        margin-right: 22px;

        img {
          width: 100%;
        }
      }

      .client-quote {
        max-width: 440px;
        margin-bottom: 20px;
        font-family: "Gill Sans";
        font-style: italic;
        font-size: 16px;
      }

      .client-name {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $site-blue;
        font-family: "Gills Sans";
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
  }
}
